<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- --Fav Icon-- -->
  <!-- <link rel="shortcut icon" href="/assets/img/logo header .png" type="image/x-icon" /> -->
  <!-- --Fav Icon End-- -->
  <style>
    * {
      font-family: neu;
      src: url(/assets/fonts/SAMAN.TTF);
    }
  </style>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shrujan 2.0</title>
    <!-- --Fav Icon-- -->
    <link rel="shortcut icon" href="/assets/img/logo header.png" type="image/x-icon" />
    <!-- --Fav Icon End-- -->

    <!-- --Shery Js-- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <!-- --Shery Js-- -->

    <!-- --Custom CSS-- -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- --Custom CSS End-- -->

    <script src="https://www.google.com/recaptcha/api.js" async defer>
    </script>
  </head>

<body>
  <!-- --Loader Section-- -->
  <div id="loader">
    <h1>
      <%= loader_title_1 %>
    </h1>
    <h1>
      <%= loader_title_2 %>
    </h1>
    <h1>
      <%= loader_title_3 %>
    </h1>
  </div>

  <div id="fixed-image"></div>
  <!-- --Loader Section-- -->

  <div id="main">
    <%- body %>
    <!-- --slide up page-- -->
    <div id="page5">
      <div class="bar">
        <div class="bar1">
          <h1>GIET University</h1>
        </div>
        <!-- <div class="bar2"></div>
        <div class="bar3"></div> -->
      </div>
      <div class="srujan_logo">
        <h1>Shrujan 2.0</h1>
      </div>
      <hr>
      <div class="logo">
        <img src="/assets/img/logo header .png" alt="">
      </div>
    </div>
    <!-- --slide up page end-- -->


    <!-- --extra screen-- -->
    <div id="full-scr">
      <div id="full-div1">
        <a href="/events/technical"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 52vw;padding-top: 155px; text-decoration: none;">TECHNICAL</a>
        <a href="/events/non-technical"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 36vw;padding-top: 0px; text-decoration: none;">
          NON
          TECHNICAL</a>
        
        <a href="/events/sports"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 63vw;padding-top: 0px; text-decoration: none;">SPORTS</a>
        <a href="/events/cultural"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 58vw;padding-top: 0px; text-decoration: none;">CULTURAL</a>
        <a href="/team"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 74vw;padding-top: 0px; text-decoration: none;">TEAM</a> 
        <a href="/t-shirt"
          style="display: block;
          color: black;
          font-size: 10vw;
          font-weight: 200;
          padding-left: 65vw;
          padding-top: 0px;
          text-decoration: none;">T-Shirt</a> 

          <a href="/myregistrations"
          style="display: block;color: black;font-size: 10vw;font-weight: 200;padding-left: 52vw;padding-top: 0px; text-decoration: none;">
          MY
          EVENTS</a>


      </div>
    </div>
    <!-- --extra screen end-- -->
  </div>

  <!-- --Footer-- -->
  <!-- <div id="footer">
=======
    <!- --Footer-- -->
  <!-- <div id="footer">
>>>>>>> 481beca239b34f87c59fce2869dafd59a3280010
      <div id="footer-div"></div>
      <h1>SHRUJAN</h1>
      <div id="footer-bottom"></div>
    </div> -->

  <!-- --Footer End-- -->

  <!-- --JS-- -->
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
  <script src="/js/script.js"></script>

  <!-- --JS End-- -->
</body>

</html>