<style>
.close {
    text-align: center;
    margin: 100px;
    padding: 20px;
    background-color: #f8d7da; /* Light red background color */
    border: 1px solid #f5c6cb; /* Border color */
    color: #721c24; /* Dark red text color */
}

.close h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #721c24; /* Dark red text color */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .close {
        padding: 10px;
    }

    .close h1 {
        font-size: 18px;
    }
}

</style>
<div id="page1">
    <nav>
        <a href="/"><img
          class="magnet"
          src="/assets/img/Shrujan final1.png"
          width="160"
          alt="shrujan logo"
        />
        </a>
        <div id="nav-part2">
          <h4><a class="magnet" href="/">Home</a></h4>
          <h4><a class="magnet" href="#">Team</a></h4>
          <h4><a class="magnet" href="#">Contact</a></h4>
        </div>
        <h3 style="color: #fff; filter: drop-shadow(1px 1px 1px black);"><i class="ri-menu-fill" style="padding-right: 10px;"></i></i>Menu</h3>
    </nav>

    <div class="close">
        <h1>Event Closed</h1>
    </div>
</div>