<!-- --hero section-- -->
<div id="page1">
  <nav>
    <a href="#">
      <img class="magnet" src="/assets/img/Shrujan final1.png" width="160" alt="shrujan logo" loading="lazy">
    </a>
    <div id="nav-part2">
      <h4><a class="magnet" href="/">Home</a></h4>
      <h4><a class="magnet" href="/team">Team</a></h4>
      <h4><a class="magnet" href="/myregistrations">My Events</a></h4>
      <h4><a class="magnet" href="/t-shirt">T-Shirts</a></h4>
      <% if(message == "no") { %>
      <h4><a class="magnet" href="/auth">Login</a></h4>
      <% } else { %>
      <h4><a class="magnet" href="/logout">Logout</a></h4>
      <% } %>
    </div>
    <h3 style="color: #fff; filter: drop-shadow(1px 1px 1px black);"><i class="ri-menu-fill"
        style="padding-right: 10px;"></i></i>Menu</h3>
      <% if(message == "no") { %>
        <a href="/auth" id="login-button"><h3  style="color: #fff; filter: drop-shadow(1px 1px 1px black);">Login</h3></a>
      <% } else { %>
        <a href="/logout" id="login-button"><h3  style="color: #fff; filter: drop-shadow(1px 1px 1px black);">Logout</h3></a>
      <% } %>
  </nav>



  <!-- <div id="cursor"></div> -->
  <div id="title">
    <h1><span class="typing-text"></span></h1>
    <h1><span class="typing-text-1"></span></h1>
  </div>

  <div id="hero-shape">
    <div id="hero-1"></div>
    <div id="hero-2"></div>
    <div id="hero-3"></div>
  </div>
  <div id="video-container">
    <div id="play">PLAY</div>
    <video autoplay loop muted src="/assets/video/shrujan gif.mp4"></video>
  </div>
</div>
<!-- --hero section end-- -->

<!-- --category section-- -->
<div id="page2">
  <div id="moving-text">
    <div class="con">
      <h1>All</h1>
      <div id="gola"></div>
      <h1>NON-TECHNICAL</h1>
      <div id="gola"></div>
      <h1>EVENTS</h1>
      <div id="gola"></div>
    </div>
    <div class="con">
      <h1>ARE</h1>
      <div id="gola"></div>
      <h1>NOW</h1>
      <div id="gola"></div>
      <h1>LIVE</h1>
      <div id="gola"></div>
    </div>
    <!-- <div class="con">
      <h1>EVENTS</h1>
      <div id="gola"></div>
      <h1>ARE NOW</h1>
      <div id="gola"></div>
      <h1>LIVE</h1>
      <div id="gola"></div>
    </div> -->
  </div>

  <div class="gooey gola1" style="left: 58%"></div>

  <div id="page2-bottom">
    <div id="motive">
      <h1 style="border-bottom: 1px solid #000000af; padding-bottom: 0.5vw">
        OUR MOTIVE
      </h1>
      <img src="/assets/img/char1.png">
      <h1 style="letter-spacing: 2px; font-family: Popins !important;">
        <!-- We are a group of <span id="onespan"></span> goal-focused creators, who
        believe <span id="twospan"></span>that the
        <span id="threespan"></span> the difference. -->


        Don't like better, Believe in best
      </h1>
    </div>
    <div id="bottom-part2">
      <img
        src="/assets/img/slider7.jpg"
        alt="" loading="lazy" />
      <p style="letter-spacing: 1px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; font-weight: 900; ">
        
Welcome to Shrujan, our exhilarating techno-cultural fest where innovation meets creativity! At Shrujan, we thrive on the passion to create, solve, and collaborate, turning extraordinary ideas into reality.
      </p>
    </div>
  </div>

  <div class="gooey gola2"></div>

  <div id="page2-b2">
    <div id="elem1" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/tech2.jpg" alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/events/technical"
          style="color: white;padding: 10px;border-radius: 20px;border: 2px solid white;text-decoration: none;">TECHNICAL
          EVENTS</a>
      </div>
    </div>
    <div id="elem2" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/non-tech2.jpg" loading="lazy" alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/events/non-technical"
          style="color: white;padding: 10px;border-radius: 20px; border: 2px solid white;text-decoration: none;">NON-TECHNICAL
          EVENT</a>
      </div>
    </div>
    <div id="elem3" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/sports2.jpg" href="/events/sports" loading="lazy"
        alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/events/sports"
          style="color: white;padding: 10px;border-radius: 20px; border: 2px solid white;text-decoration: none;">SPORTS</a>
      </div>
    </div>
    <div id="elem4" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/cult2.jpg" loading="lazy" alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/events/cultural"
          style="color: white;padding: 10px;border-radius: 20px; border: 2px solid white;text-decoration: none;">CULTURAL
          EVENT</a></div>
    </div>
    <div id="elem4" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/t-shirt_bg.png" loading="lazy" alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/t-shirt"
          style="color: white;padding: 10px;border-radius: 20px; border: 2px solid white;text-decoration: none;">Merchandise</a></div>
    </div>
    <div id="elem4" class="elem">
      <img data-scroll data-scroll-speed="1" src="/assets/img/foodstall.png" loading="lazy" alt="" />
      <div data-scroll data-scroll-speed="-2" class="dets">
        <a href="/events/foodstall"
          style="color: white;padding: 10px;border-radius: 20px; border: 2px solid white;text-decoration: none;">Food Stall</a></div>
    </div>
  </div>
</div>
<!-- --category section end-- -->

<!-- --Social Links-- -->
<!-- <div id="page3">
  <div id="elem-container">
    <div
      id="elem1"
      class="elem"
      data-image="https://images.unsplash.com/photo-1701001308648-7b731a52b8d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D"
    >
      <div class="overlay"></div>
      <h2>Instagram</h2>
    </div>
    <div
      id="elem1"
      class="elem"
      data-image="https://images.unsplash.com/photo-1701001308648-7b731a52b8d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D"
    >
      <div class="overlay"></div>
      <h2>Facebook</h2>
    </div>
    <div
      id="elem1"
      class="elem"
      data-image="https://images.unsplash.com/photo-1701001308648-7b731a52b8d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D"
    >
      <div class="overlay"></div>
      <h2>LinkedIn</h2>
    </div>
   
</div> -->
<!-- --Social Links End-- -->

<!-- --Slider Section-- -->
<div id="page4">
  <h1 style="font-size: 12vw; text-align: center;">Coming Soon</h1>
</div>
<!-- --Slider Section End-- -->



