<link rel="stylesheet" href="/css/event.css">

<style>
    .anime {
        filter: drop-shadow(6px 6px 6px black);
        position: relative;
        animation: mymove 1.5s infinite;
    }

    @keyframes mymove {
        33% {
            top: 0px;
        }

        66% {
            top: 20px;
        }

        100% {
            top: 0px;
        }
    }
</style>

<div id="page1" style="background-repeat: no-repeat; background-size: cover;">
        <nav>
            <a href="/"><img
                class="magnet"
                src="/assets/img/Shrujan final1.png"
                width="160"
                alt="shrujan logo"
              />
            </a>
            <div id="nav-part2">
              <h4><a class="magnet" href="/">Home</a></h4>
              <h4><a class="magnet" href="#">Team</a></h4>
              <h4><a class="magnet" href="#">Contact</a></h4>
            </div>
            <h3 style="color: #fff; filter: drop-shadow(1px 1px 1px black);"><i class="ri-menu-fill" style="padding-right: 10px;"></i></i>Menu</h3>
        </nav>

        <% if(eventMessage) { %>
            <div class="failure-message" style="color: black;">
                <%= eventMessage %>
            </div>
        <% } %>

      <div id="page3">

        <div class="child anime" id="child1">
            <img src="/assets/img/sports/singleevent (9).png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/chess">(CHESS) Register</a>
                <a href="#" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>
        </div>

        <div class="child anime" id="child2">
            <img src="/assets/img/sports/singleevent (10).png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/shotput">(SHOT PUT) Register</a>
                <a href="/sportsDetails/SHOT PUT.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child3">
            <img src="/assets/img/sports/3.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/100mtrs">(100Mtr) Register</a>
                <a href="/sportsDetails/RUNNING RACE.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/4.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/200mtrs">(200Mtr) Register</a>
                <a href="/sportsDetails/RUNNING RACE.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/5.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/400mtrs">(400Mtr) Register</a>
                <a href="/sportsDetails/RUNNING RACE.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/6.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/800mtrs">(800Mtr) Register</a>
                <a href="/sportsDetails/RUNNING RACE.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/7.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/longjump">(LONGJUMP) Register</a>
                <a href="/sportsDetails/LONG JUMP.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/singleevent (2).png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/triplejump">(TRIPLEJUMP) Register</a>
                <a href="/sportsDetails/TRIPLE JUMP.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/9.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/discussthrow">(DISCUSS THROW) Register</a>
                <a href="/sportsDetails/DISCUSS THROW.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/8.png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/javelinthrow">(JAVELIN THROW) Register</a>
                <a href="/sportsDetails/JAVELIN THROW.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/singleevent (5).png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/lemonspoon">(LEMMON SPOON) Register</a>
                <a href="/sportsDetails/LEMON & SPOON RACE.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
        <div class="child anime" id="child4">
            <img src="/assets/img/sports/singleevent (1).png" style="filter: drop-shadow(5px 5px #fff); background-color: rgba(255, 255, 255, 0.075); background-color: rgba(255, 255, 255, 0.20); border-radius: 30px;
            border: 2px solid pink;"
                alt="" loading="lazy">
            <div class="actions">
                <a href="/events/sports/singles/highjump">(High Hump) Register</a>
                <a href="/sportsDetails/HIGH JUMP.pdf" download style="background: none; border: none; box-shadow: none;"><button>Details</button></a>
            </div>

        </div>
    </div>
</div>
<script src="/js/event.js"></script>
